@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.bannerProducts{
    box-sizing: content-box;
}

.mainCard{
    border: 3px solid rgb(248, 0, 0);
    /* padding: 1rem; */
    /* max-width: fit-content; */
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
    /* min-height: 500px; */
}

.topCard{
    /* border: 1px solid orange; */
    /* max-height: 50%; */
    /* max-width: 200px; */
}

.topCard>img{
    width: 100%;
    /* height: 15rem; */
}

.bottomCard{
    border: 3px solid green;
    padding: 1rem;
    padding-left: 0;
    min-height: 200px;
    background-color: white;
    margin: 3px 8px;
    margin-top: -70px;
    /* min-height: 50%; */
    /* position: absolute; */
    text-align: left;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 54em) {
    .bottomCard{
        padding: 0rem;
    }
}

.bottomCard>*{
    max-width: 100%;
}

.title{
    border: 2px solid gold;
    font-size: 1.9rem;
    /* max-width: max-content; */
    /* font-weight: 500; */
}

.discount{
    border: 2px solid greenyellow;
    font-size: 1.4rem;
    /* max-width: max-content; */

}