@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.home{
    border: 10px solid blue;
}

.padder{
    height: 8vh;
    background-color: #f8ff8a;
    /* border: 2px solid yellowgreen; */
    box-shadow: 0px 0px 10px 0px inset;
}

.imgContainer{
    display:flex;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 5rem;
}

/* .main-image{
    width: 100%;
    margin-bottom: 6rem;
} */

/* .bannerImage{
    height: 26vh;
} */

h4{
    font-family: roboto;
}
.bannerProductsContainer{
    border: 2px solid black;
    display: grid;
    margin-left: 10%;
    /* max-width: fit-content; */
    grid-template-columns: repeat(auto-fill, minmax(min(12rem, 100%), 1fr));
    gap: 1rem;
}

@media (max-width: 54rem) {
    .bannerProductsContainer{
        grid-template-columns: repeat(auto-fill, minmax(min(8rem, 100%), 1fr));
        margin-left: 0;
    }
}