@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

:root{
    --padder-color: #f8ff8a;
    --heading-color: #3e4152;
}

.home{
    border: 10px solid blue;
}

.padder{
    height: 8vh;
    background-color: var(--padder-color);
    /* border: 2px solid yellowgreen; */
    box-shadow: 0px 0px 10px 0px inset;
}

