@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
:root{
    --ds-color: #535665;
    --rating-b-color: #eaeaec;
    --rating-color: #282c3f;
    --mint-green: #2ecc71;
}

.productClicked{
    border: 3px solid red;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
}

.leftSide{
    border: 2px solid black;
}

.rightSide{
    border: 3px solid green;
    font-family: 'Cabin', sans-serif;
    padding: 5rem;
    padding-top: 2rem;
}

.upperPart{
    margin-bottom: 1.5rem;
}

.titleContainer{
    border: 3px solid purple;
    max-width: 90%;
    margin-bottom: 10px;
}

.productTitle{
    font-size: 2rem;
    text-align: left;
}

.productDescription{
    border: 3px solid blue;
    max-width: 80%;
    text-align: left;
    color: var(--ds-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3;
}

.ratingBox{
    border: 1.8px solid var(--rating-b-color);
    text-align: left;
    font-size: 1rem;
    display: flex;
    width: max-content;
}

.ratingBox:hover{
    border: 1.8px solid black;
    cursor: pointer;
}

.ratings{
    /* border: 1px solid black; */
    color: var(--rating-color);
}

.star{
    /* background-color: green; */
}
.userNumber{
    /* border: 1px solid black; */
    color: var(--ds-color);
}

.line{
    border: 1px solid gray;
    /* margin: auto; */
    max-width: 90%;
    margin-bottom: 2rem;
}

.lowerPart{
    margin-left: 20px;
}

.priceContainer{
    text-align: left;
    margin-bottom: 30px;
}

.price{
    font-size: 3rem;
}

.priceDetails{
    margin-left: 8px;
    color: var(--ds-color);
}

.selectSize{
    text-align: left;
    margin-bottom: 3rem;
}

.selectSize>h4{
    font-family: 'Alegreya', serif;
}

.selectSize>h4>span{
    /* border: 2px solid black; */
    margin: 1rem;
    /* padding: 2px; */
}

.size{
    background-color: #fff;
    border: 1px solid #bfc0c6;
    border-radius: 50px;
    padding: 0;
    min-width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    color: #282c3f;
    margin: 0.4rem;
}

/* .size32:hover{
    border: 1px solid #ff3f6c;
    background-color: #fff;
    color: #ff3f6c;
} */

.size:focus{
    border: 3px solid var(--mint-green);
    background-color: #fff;
    color: var(--mint-green);
    background-color: black;
}

.buyNow{
    width: 400px;
    height: 3rem;
    border-radius: 25px;
    background-color: black;
    color: white;
    word-spacing: 1rem;
    letter-spacing: 1rem;
    border:4px solid var(--mint-green);
}

.buyNow:hover{
background-color: var(--mint-green);
}

.quantity{
    width: 140px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.quantity>button{
    width: 30px;
    background-color: var(--mint-green);
    color: white;
}

.valueHolder{
    margin: auto;
}

/* .decrement{
    border: 1px solid black;
}

.increment{
    border: 1px solid black;
} */